h3.brief-header {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}
h3.brief-header i {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    background: url("/assets/images/add.png") no-repeat;
    background-size: cover;
}