<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
        <a (click)="goToEdit()">修改</a>
    </ion-navbar>
</ion-header>
<ion-content>
    <form>
        <div class="detail-portrait">
            <!-- <a (click)="goBackToPrevious()" class="back-to-list"><i class="icon-back"></i>所有联系人</a> -->
            <!-- <a class="edit" [routerLink]="['/edit', this.contact.id]">编辑</a> -->
            <!-- (click)="goToEdit()"  -->
            <div class="detail-portrail">
                <img src="/assets/images/Iverson.jpg">
            </div>
            <div>
                <span class="contact-name">{{contact.name}}<i [ngClass]="{collect: contact.if_like == 0 || contact.if_like == null, collected: contact.if_like == 1}" (click)="collectTheContact()"></i>
                </span>
            </div>
        </div>
        <div class="list">
            <ion-item>
                <ion-label>手机号码：</ion-label>
                <ion-label>{{contact.mobile_number}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>邮箱：</ion-label>
                <ion-label>{{contact.email}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>生日：</ion-label>
                <ion-label>{{contact.birthday | date: 'yyyy-MM-dd'}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>住址：</ion-label>
                <ion-label>{{contact.address}}</ion-label>
            </ion-item>
            <article class="detail-intro">
                <h3>简介:</h3>
                <p>生活态度好，热爱运动</p>
            </article>
        </div>
    </form>
</ion-content>
